p {
	font-family: "Courier";
	font-size: 18px;
	font-weight: bold;
}

h1 {
	font-family: "Ubuntu Mono";
	color: darkmagenta;
}

body {
	background-color: lightgreen;
}

table, th ,td {
	border: 3px solid blue;
	border-radius: 6px;
	font-size: 24px;
	font-family: monospace;
}